
.lowerSection{
    display: flex;
    flex-direction: column;
}
.postImg{
    width: inherit;
    max-height: 80vh;
}

@media (max-width:600px){
    .feedpost{
        width:100%;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .feedpost{
        width: 100%;
    }
}