/* .post{
    width:100px;
    height:100px;
} */
.postImage {
    width:400px;
    height: 400px;
    float: left;
    background-size: cover;
}   
.img__wrap {
    position: relative;
}
  
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 8px;
    padding-top: 55%;
    padding-bottom: 43%;
    padding-right: 10px;
    background: rgba(82, 78, 78, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}