/* .post{
    width:100px;
    height:100px;
} */
.postImage {
    border:1px solid #333;
    width:300px;
    height: 300px;
    transition: 0.3s;
    transform: scale(1);
    margin:10px;
    justify-self: flex-start;
}
.postImage:hover{
    transition: 0.3s;
    transform: scale(1.1);
}